<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Magenest_Movie::movie_menu"
                title="Movie"
                module="Magenest_Movie"
                sortOrder="30"
                resource="Magenest_Movie::magenest"
        />
        <add
                id="Magenest_Movie::index"
                title="Index"
                module="Magenest_Movie"
                sortOrder="14"
                parent="Magenest_Movie::movie_menu"
                resource="Magenest_Movie::index"
        />
        <add
                id="Magenest_Movie::movie_submenu"
                title="Movie"
                module="Magenest_Movie"
                sortOrder="20"
                parent="Magenest_Movie::index"
                action="movie/movie"
                resource="Magenest_Movie::movie"
        />
        <add
                id="Magenest_Movie::actor"
                title="Actor"
                module="Magenest_Movie"
                sortOrder="25"
                action="movie/actor"
                parent="Magenest_Movie::index"
                resource="Magenest_Movie::actor"
        />
        <add
                id="Magenest_Movie::director"
                title="Director"
                module="Magenest_Movie"
                sortOrder="30"
                action="movie/director"
                parent="Magenest_Movie::index"
                resource="Magenest_Movie::director"
        />
    </menu>
</config>