<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
                "urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="Magenest_Movie::imageProduct"
                type="Magenest\Movie\Plugin\Cart\ImageProduct" sortOrder="1" />
    </type>
    <type name="Magenest\Movie\Model\ImageUploader">
        <arguments>
            <!-- Temporary file stored in pub/media/movie/tmp/avatar -->
            <argument name="baseTmpPath" xsi:type="string">movie/tmp/avatar</argument>
            <argument name="basePath" xsi:type="string">movie/avatar</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Customer\Model\Backend\Customer" type="Magenest\Movie\Model\Customer"/>
    <type name="Magento\Customer\Model\Customer\DataProvider">
        <plugin name="Magenest_Movie::avatarCustomer"
                type="Magenest\Movie\Plugin\Avatar\AvatarCustomer" sortOrder="1" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_list_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Movie\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="coupon_code" xsi:type="string">sales_order.coupon_code</item>
            </argument>
        </arguments>
    </virtualType>
<!--    <preference for="Magento\Framework\Serialize\Serializer\Json" type="Magenest\Movie\Serialize\Serializer\Json" />-->
    <preference for="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider" type="Magenest\Movie\Ui\DataProvider\Product\ProductDataProvider"/>
</config>