
<table>
    <tr>
        <td><p>First Name</p><input id="firstname" data-bind="value:firstname"/></td>
    </tr>
    <tr>
        <td><p>Last Name</p><input id="lastname" data-bind="value:lastname"/></td>
    </tr>
    <tr>
        <td><p>Full Name</p><input id="fullname" data-bind="value:fullname"/></td>
    </tr>
    <tr>
        <td><button id="clickme" click="onClick">Convert name to full name</button>
        </td>
        <td><button id="standardize" click="standardize">Standardize</button></td>
    </tr>
</table>
